<div class="who">
  <a class="anchor" id="about-us"></a>
  <h1 class="profiles">QUIENES SOMOS</h1>
  <div class="profile">

    <partial src="_profiles.html" imgroute="./assets/images/Beatriz.jpg" altphoto="foto de beatriz del valle" nameprofile="Beatriz del Valle, la benjamina" description="Última de la casa Adalab. Maestre del diseño y la edición, diestra en multimedia e imprenta. Aprendiz apasionada en las artes de la programación Front End. Escudera de la lógica y abanderada de la solución de problemas." twitter="https://twitter.com/btdvalle" linkedin="https://www.linkedin.com/in/beatriz-del-valle-31403318a/" github="https://github.com/btdvalle" email="btdvalle@gmail.com"></partial>
    
    <partial src="_profiles.html" imgroute="./assets/images/Isabel.jpg" altphoto="foto de isabel pizarro" nameprofile="Isabel Pizarro, la sonrisa eterna" description="Reina de la positividad. Proveniente de tierras extremeñas. Devoradora de libros y melómana empedernida. Analista de la sociedad y sus ententes, socióloga por vocación. Programadora en ciernes y orgullosa de su nueva condición." twitter="https://twitter.com/NogalesPizarro" linkedin="https://www.linkedin.com/in/isabel-pizarro-nogales-a71348115/" github="https://github.com/IsabelPizarro" email="chabelipizarro1@gmail.com"></partial>
    
    <partial src="_profiles.html" imgroute="./assets/images/Amanda.jpg" altphoto="foto de amanda padilla" nameprofile="Amanda Padilla, la enciclopedia" description="Primera de su clase, payasa y proveedora de datos random. Hechicera de los medios audiovisuales y mares de información. Soberana del diseño interactivo, las narrativas de no-ficción y el documental. Futura programadora y protectora del código limpio y el ay-ay-agile." twitter="https://twitter.com/4mandaPadilla" linkedin="https://www.linkedin.com/in/amanda-padilla-santiago-90ba0091/" github="https://github.com/amandapadilla" email="amandapadillasantiago@gmail.com"></partial>
    
    <partial src="_profiles.html" imgroute="./assets/images/Sara.jpg" altphoto="foto de sara martin" nameprofile="Sara Martín, the brave" description="Guardiana de mapas, de Timor Leste a la Gran Bretaña. Experimentada en comunicación multicultural. Mando y cuerpo de batalla, blande la espada de la proactividad. Entusiasta participante de la casa Adalab y sus nobles objetivos." twitter="https://twitter.com/SaraMar61058581" linkedin="https://www.linkedin.com/in/sara-mart%C3%ADn-guti%C3%A9rrez-b31a7061/" github="https://github.com/Sara-ribera" email="martingutierrezsara@gmail.com"></partial>
   
    <partial src="_profiles.html" imgroute="./assets/images/Samantha.jpg" altphoto="foto de samantha cancino" nameprofile="Samantha Cancino, pelo de fuego" description="Prematura abadesa del diseño web. A la tierna edad de 5 años comenzó su camino autodidacta como escriba amateur de un Amstrad CPC 464. Conocedora de las artes de la ingeniería, fotografía y el desarrollo, ingresó en Adalab con la misión de convertir su pasión en su medio de vida." twitter="https://twitter.com/samimagine" linkedin="https://www.linkedin.com/in/samimagine" github="https://github.com/samanthacancino" email="samanthacancino@gmail.com"></partial>
</div>
 
    <!-- <article>
            <img class="img-profile" src="./assets/images/Beatriz.jpg" alt="Foto de Beatriz del Valle">
            <h2>Beatriz del Valle, “la benjamina”.</h2>
            <div class="container">
                <p>Última de la casa Adalab. Maestre del diseño y la edición, diestra en multimedia e imprenta. Aprendiz apasionada en las artes de la programación Front End. Escudera de la lógica y abanderada de la solución de problemas.</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="https://twitter.com/btdvalle" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li  class="icons"><a href="https://www.linkedin.com/in/beatriz-del-valle-31403318a/" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="https://github.com/btdvalle" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:btdvalle@gmail.com?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </article>
        <article>
            <img class="img-profile" src="./assets/images/Isabel.jpg" alt="Foto de Isabel Pizarro">
            <h2>Isabel Pizarro, "la sonrisa eterna"</h2>
            <div class="container">
                <p>Reina de la positividad. Proveniente de tierras extremeñas. Devoradora de libros y melómana empedernida. Analista de la sociedad y sus ententes, socióloga por vocación. Programadora en ciernes y orgullosa de su nueva condición.</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="https://twitter.com/NogalesPizarro" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li class="icons"><a href="https://www.linkedin.com/in/isabel-pizarro-nogales-a71348115/" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="https://github.com/IsabelPizarro" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:chabelipizarro1@gmail.com?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </article>
        <article>
            <img class="img-profile" src="./assets/images/Amanda.jpg" alt="Foto de Amanda Padilla">
            <h2>Amanda Padilla, "la enciclopedia"</h2>
            <div class="container">
                <p>Primera de su clase, payasa y proveedora de datos random. Hechicera de los medios audiovisuales y mares de información. Soberana del diseño interactivo, las narrativas de no-ficción y el documental. Futura programadora y protectora del código limpio y el ay-ay-agile.</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="https://twitter.com/4mandaPadilla" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li class="icons"><a href="https://www.linkedin.com/in/amanda-padilla-santiago-90ba0091/" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="https://github.com/amandapadilla" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:amandapadillasantiago@gmail.com?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </article>
        <article>
            <img class="img-profile" src="./assets/images/Sara.jpg" alt="Foto de Sara Martín">
            <h2>Sara Martín, "the brave".</h2>
            <div class="container">
                <p>Guardiana de mapas, de Timor Leste a la Gran Bretaña. Experimentada en comunicación multicultural. Mando y cuerpo de batalla, blande la espada de la proactividad. Entusiasta participante de la casa Adalab y sus nobles objetivos.</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="https://twitter.com/SaraMar61058581" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li class="icons"><a href="https://www.linkedin.com/in/sara-mart%C3%ADn-guti%C3%A9rrez-b31a7061/" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="https://github.com/Sara-ribera" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:martingutierrezsara@gmail.com?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </article>
        <article>
            <img class="img-profile" src="./assets/images/Samantha.jpg" alt="Foto de Samantha Cancino">
            <h2>Samantha Cancino, "pelo de fuego"</h2>
            <div class="container">
                <p>Prematura abadesa del diseño web. A la tierna edad de 5 años comenzó su camino autodidacta como escriba amateur de un Amstrad CPC 464. Conocedora de las artes de la ingeniería, fotografía y el desarrollo, ingresó en Adalab con la misión de convertir su pasión en su medio de vida.</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="https://www.twitter.com/samimagine" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li class="icons"><a href="https://es.linkedin.com/in/samimagine" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="https://github.com/samanthacancino" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:samanthacancino@gmail.com?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </article> -->
  </div>
</div>
