<header class="header">
        <div class="headerbox">
                <div class="logo">
                   <a href="index.html"><img src="./assets/images/logo.png" alt="Logotipo Coding is coming" title="Coding is coming"/>
                   </a>  
                </div>
                <h1 class="name">Coding is coming</h1>
        </div>
        <nav class="nav">
            <ul class="menu">
                <li class="item"><a class="link" href="@@team">EQUIPO</a></li>
                <li class="item"><a class="link" href="@@who">QUIENES SOMOS</a></li>
                <li class="item"><a class="link" href="@@contact">CONTACTO</a></li>
            </ul>
            
        </nav>
    </header>