<header class="header">
        <div class="headerbox">
                <div class="logo">
                    <img src="../../assets/images/logo.png" alt="Logotipo Coding is coming" title="Coding is coming"/>
                </div>
                <h1 class="name">CODING IS COMING</h1>
        </div>
        <nav class="nav">
            <ul class="menu">
                <li class="item"><a class="link" href="#the-team">EQUIPO</a></li>
                <li class="item"><a class="link" href="#about-us">QUIENES SOMOS</a></li>
                <li class="item"><a class="link" href="../contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>