<article>
    <div class="@@profileclass">
        <img class="profile__img @@wrapperimgclass" src="@@imgroute" alt="@@altphoto">
        <div class="@@classwrapperitem">
            <h2 class="@@profile_h2">@@nameprofile</h2>
            <div class="container">
                <p class="@@classdescription">@@description</p>
            </div>
            <div class="social__icons__wrapper">
                <ul class="@@classul">
                    <li class="icons"><a href="@@twitter" target="_blank"><i class="social__icon fab fa-twitter"></i></a></li>
                    <li  class="icons"><a href="@@linkedin" target="_blank"><i class="social__icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="@@github" target="_blank"><i class="social__icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:@@email?subject=Contacto de Adalab"><i class="social__icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</article>