<article>
    <div class="wrapper">
        <img class="profile__img wrapper__img" src="@@imgroute" alt="@@altphoto">
        <div class="wrapper__item">
            <h2 class="profile__h2">@@nameprofile</h2>
            <div class="container">
                <p class="profile__description">@@description</p>
            </div>
            <div class="social-icons">
                <ul class="social">
                    <li class="icons"><a href="@@twitter" target="_blank"><i class="social-icon fab fa-twitter"></i></a></li>
                    <li  class="icons"><a href="@@linkedin" target="_blank"><i class="social-icon fab fa-linkedin-in"></i></a></li>
                    <li class="icons"><a href="@@github" target="_blank"><i class="social-icon fab fa-github-alt"></i></a></li>
                    <li class="icons"><a href="mailto:@@email?subject=Contacto de Adalab"><i class="social-icon fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</article>