    <div class="team">
        <a class="anchor" id="the-team"></a>
        <h2>EQUIPO</h2>
        <div class="container">
            <p><strong>Cinco mujeres fuertes, apasionadas, decididas, decidieron aventurarse y tomar las riendas de su vida formándose como programadoras Front-End.</strong> <br> Bajo la protección de la familia Adalab, vivimos experiencias enriquecedoras, de las que aprendimos y que nos ayudarán a enfrentarnos a cualquier reto que se nos presente en el sector tecnológico y, en definitiva, en nuestro futuro profesional. Ya sea de manera individual o como en equipo, lucharemos por ganar la batalla contra nosotras mismas y alcanzar nuestras metas.</p>
        </div>
    </div>
    <div class="spike"> 
    </div>
    <div class="blocks">
        <div class="blocks-strenghts">
            <h3>Fortalezas</h3>
            <div class="container">
                <p>Somos un equipo multidisciplinar, lo que enriquece nuestra visión y el saber hacer. El trabajo en equipo, donde unas nos apoyamos a otras para conseguir con resultado brillante. La motivación y energía de seguir adquiriendo conocimientos para desarrollar mejores proyectos en un futuro. Nos definimos como un equipo camaleónico.</p>
            </div>
        </div>
        <div class="blocks-weakness">
            <h3>Debilidades</h3>
            <div class="container">
                <p>Multifocales con tendencia a la dispersión ocasional. Con excasa experiencia, desconocimiento del sector y una gran competencia. Nuestras debilidades se transformarán en fortalezas gracias a la familia Adalab.</p>
            </div>
        </div>
    </div>