<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <partial src="_header.html" label="Header"></partial> 
    <!-- foto-->
    <h1>CONTACTO</h1>
    <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dicta eum corrupti aut voluptatibus officiis. Inventore nemo sit iure aspernatur culpa. Eligendi, ullam modi vero dolores possimus velit provident maxime.</p>
    <small>Todos los campos marcados con * son obligatorios</small>
    
    <form class="form" method="POST" action="/signup">
        <label>Nombre completo *
            <input type="text" name="name">
        </label>
        <label>Email *
            <input type="email" placeholder="nombre.apellidos@mail.com" name="email">
        </label>
        <label>Teléfono 
            <input type="tel" placeholder="Ej: 123456789" name="tel">
        </label>
        <label>Mensaje *
            <input type="text" placeholder="¿Qué necesitas?" name="name">
        </label>
        <input type="submit" name="enviar" value="ENVIAR">
    </form>
    
    

</body>
</html>