/*content - articles/
  
  /*article*/
  .profiles {
	font-weight: 500;
	
  }
  .profile h2 {
	display: block;
	margin: 0 0 10px 0;
  }
  .img-profile {
	width: 180px;
	height: 180px;
	border-radius: 4px;
	border: solid 5px rgba(0, 0, 0, 0.08);
	align-content: center;  
	margin: 30px 0 15px 0;
  }
  
  .social {
	color: #099d8d;
	display: flex;
	justify-content: center;
	font-size: 16px;
	list-style: none;
	padding-inline-start: 0px;
	
  }
  .social a {
	text-decoration: none;
	color: #099d8d;
  }
  .social-icon {
	display: inline-block;
	line-height: 1.8;
	padding: 6px;
  }
  .mini {
	width: 2px;
	height: 2px;
	background-color: gray;
	position: relative;
	top: 12px;
  }
  
  