@import 'core/variables';
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
  
	@media all and (min-width:768px){
	  flex-direction: row;
	  height: 60px;
	  }
  }
  
  /* name & logo */
  .headerbox {
	  display: flex;
	  flex-flow: row nowrap;
	  align-items: center;
	  width:100%;
	  background-color:rgba(9, 157, 141, 0.95);
	  
	  
	  @media all and (min-width:768px){
		  width: 50%;
		  }
  
	  .logo{
		  display: inline-block;
		  padding: 0 30px;
		  margin: 10px;
	  }
  
	  .name{
		  padding: 0;
		  margin: 0;
		  display: inline-block;
		  color: white;
		  height: 60px;


		  margin-bottom: 10px;
	  }
	}
  
	/* menu */
  .nav{
	  height: 45px;
	  margin: 0;
	  background-color: $color-secundary;
  
	  @media all and (min-width:768px){
	  width: 50%;   
	  height: 60px;
	  background-color: $color-primary;
	  }
  
	  .menu{
		  margin: 0;
		  padding: 0;
		  height: 45px;
		  display:flex;
		  flex-direction: row;
		  justify-content: space-evenly;
		  color: $color-font-header;
		  list-style: none;
		  align-items: center;
  
		  @media all and (min-width:768px){
			  height: 60px;
		  }
  
		  .link{
			  text-decoration: none;
			  color:white;
			}
  
	  }
   }