<<<<<<< HEAD
$color-primary: rgba(9, 157, 141, 0.95);
$color-secundary: rgba(20, 217, 196, 0.95);
$color-font-header: #fff;
$color-font-footer: #54585a;
$color-font-footer-copy: #b8b8b9;

=======
$color-white: #fff;
$color-primary:rgba(9, 157, 141, 0.95);
$color-secundary:
>>>>>>> master

